*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-image: url("ground3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.topnav {
  background-color: green;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


.container{
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 700px;
	border-radius: 10px;

    background-color: rgba(197,224,180,.7);
    box-shadow: 0 0 10px rgba(255,255,255,.3);
}
.container h1{
    text-align: left;
    color: black;
}
.container p{
    text-align: left;
    color: black;
}
.container form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
	border: 2px solid green;
    color: black;
    font-size: 18px;
}
.container form button{
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color: green;
    font-size: 18px;
    color: #fafafa;
}